<!DOCTYPE html>
<html>
<head>
  <title>Csbrowser</title>
  <%= stylesheet_link_tag    "csbrowser/application", :media => "all" %>
  <%= javascript_include_tag "csbrowser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
